{% extends 'accounts/main.html'%}
{% load static %}
{% block content %}
<br>
<div class="row text-center justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {{form}}
                    <hr>
                {% endfor %}
                <input class="btn btn-primary btn-sm" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}